<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin login</title>
    </head>
    <body>

        <h1>Admin login</h1>

        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="user">Username</label>: <input type="text" name="user" id="user"/></p>
            <p><label for="pass">Password</label>: <input type="password" name="pass" id="pass"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
